.login-container{
   margin-top: 8px;
}

.login-container button{
    font-family: Human BBY Web,Arial,Helvetica,sans-serif;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #555;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.js-signin-form Label{
    
    font-family: Human BBY Web,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: black;
    
}

.login-container button:hover {
    background-color: green;
  }

.js-signin-form{
    float: right;
    
}

.register-button{
    float: none !important;
    font-size: 24px !important;
    margin: auto !important;
    background: none !important;
}

.register-button:hover{
    text-decoration: underline !important;
}