html{
    background-color: black;
}


div{
    text-overflow: ellipsis;
}
.tab{
    max-width: 800px;
    margin: auto;
    margin-bottom: 10px;
}

.tablinks{
    background-color: rgba(117, 117, 117, 0.452);
    font-family: Human BBY Web,Arial,Helvetica,sans-serif;
}

.tablinks:hover{
    cursor: pointer;
    background-color: rgb(35, 43, 53);
}

.results-container{
    background-color: white;
}

.item-container{
    height: 150px;
    padding: 12px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px; 
    margin: 5px;
}

.image-container{
    float: left;
    width: 20%;
}

.product-info-container{
    float: left;
    width: 75%;
}

.results-header{
    font-family: Human BBY Web,Arial,Helvetica,sans-serif;
    margin: 20px;
    color: white;
    font-weight: bold;
}

.name{
    font-size: 20px;
    text-decoration: none; 
    text-overflow: ellipsis; 
    display: block; 
    overflow: hidden; 
    white-space: nowrap;

    /* color:#0b7ee4;     */
    color: #2d3c44;
    font-family: Human BBY Web,Arial,Helvetica,sans-serif;
}

.image{
    width:75px;
   
}

.price{
    padding: 12px;
    font-size: 20px;
    float: left;
    margin-left: 20%;
    color: rgb(0, 102, 5);
    font-weight: bolder;
    font-family: Human BBY Web,Arial,Helvetica,sans-serif;

}

/* "Buy Now" */
.listing-url{
    padding: 5px;
    font-size: 16px;
    float: left;
    margin-left: 20%;
    margin-top: 6px;
    color:rgb(35, 43, 53);
    font-weight: bold;
    font-family: Human BBY Web,Arial,Helvetica,sans-serif;
}

.react-tabs {
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-tabs__tab-list {
    /* border-bottom: 1px solid #aaa; */
    margin: 0 0 10px;
    padding: 5px;
  }
  
  .react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  .react-tabs__tab--selected {
    background: #f6eb99;
    border-color: #aaa;
    color: black;
    border-radius: 10px 10px 0 0;
  }
  
  .react-tabs__tab--disabled {
    color: Gray;
    cursor: default;
  }
  
  .react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
  }
  
  .react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    margin-top: 50px;
    display: block;
  }

  @media only screen and (max-width: 600px) {

    .tablinks{
        font-size: 30px;
        width: 100%;
        border: 1px solid #f6eb99;
        float: left;
        
        margin-top: 5px;
    }

    .results-header{
        margin-top: 190px;
    }
} 

@media only screen and (min-width: 601px) {

    .tablinks{
        width: 49%;
        border: 1px solid #f6eb99;
        float: left;
        margin-left: 0.5%;
        margin-top: 2px;
    }
} 

@media only screen and (min-width: 701px) {

    .tablinks{
       
        border: 1px solid #f6eb99;
        float: left;
        width: 24%;
        margin-left: 0.5%;
        margin-top: 2px;
    }
} 

